$navlinkcolor : black;
$sign_inp_color :#4285f4;
$sign_text_color: #fff;
$search_inp_border: lightgray;
$search_btn_text_color: #5f6368;
$footer_nav_text_color: #5f6368;
$footer_back_color: #f2f2f2;
$footer_border_bottom_color: #e4e4e4;
